body {
  background-color: rgb(255, 203, 242);
}
.main {
  background-color: rgb(131, 236, 250);
  border-style: solid;
  margin: 80px;
  padding: 100px;
  border: rgb(0, 7, 4);
  border-radius: 50px;
  border-width: 1000px;
}
h1 {
  font-family: monospace;
  border-color: rgb(5, 20, 230);
  border-style: solid;
  border-radius: 15px;
  border-width: 1.4px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}
#textbox {
  background-color: #eafbff88;
  color: navy;
  border-color: rgb(243, 111, 4);
  border-width: 1.3px;
  border-radius: 15px;
  padding: 0.4em;
  font-family: monospace;
  box-shadow: 0 0 3px rgba(0, 0, 0, 5);
}
#button {
  background-color: rgb(247, 94, 234);
  border-color: rgb(25, 37, 28);
  font-family: monospace;
  color: #cdf0f8f5;
  border-style: solid;
  border-radius: 15px;
  border-width: 1.3px;
  margin: auto;
  padding: 0.3em 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
#button:hover {
  background-color: rgb(247, 94, 234);
  border-color: rgb(0, 0, 0);
  font-family: monospace;
  color: #cdf0f8f5;
  border-style: solid;
  border-radius: 30px;
  border-width: 1.3px;
  margin: auto;
  padding: 0.3em 1em;
  box-shadow: 0 0 15px rgb(255, 255, 255);
}
